
body{
    background-color: orangered;
    text-align: center;
}
h1.p{
color: #fff;
}
div.head{
    display: flex;
    flex-direction:column;
    background-color: aqua;
    width: 100px;
    height: 100px;
}
h2:hover{
    color: aqua;
    transition: 0.5s;
    border: 5px;
}



